$font-stack: arial, sans-serif;
$font-header: impact, sans-serif;
$first_block_color: #5c8cd7;
$second_block_color: #c5a0ef;
$third_block_color: #a58dd8;
$background_color: #e5ebfd;

@media only screen and (max-width: 1560px) {
  .plans__plan {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .plans__plan {
    margin-right: 0 !important;
  }
}

.topic {
  margin: 0 auto;
  text-align: center;
}

.topic__head__p {
  font-size: 46px;
  font-family: $font-header;
  color: black;
}

.block3__plans {
  text-align: center;
  margin-top: 63px;
  display: flex;
}

.plan__option__section {
  width: 70%;
  margin: 10px auto;
  text-align: start;

  &__options {
    padding-inline-start: 0px;
  }

  &__line {
    width: 70%;
    height: 5px;
    margin: 20px auto;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.plan__name {
  padding: 5px 0;

  &_p {
    font-size: 18px;
    font-family: Ariel, sans-serif;
    font-style: normal;
    color: white;
    text-transform: uppercase;
  }
}

.main {
  background: url(https://www.messy.fm/static/media/people.e4d757e8.svg) right
      bottom no-repeat,
    url(https://www.messy.fm/static/media/edit.af3e0bfb.svg) no-repeat;
}

.body {
  background-color: $background_color;
}

.plan__button {
  width: 204px;
  height: 50px;

  margin: 10 auto;

  &-link {
    color: white;
    text-decoration: none;
    width: 144px;
    border-radius: 5px;
    font-family: $font-stack;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 15px;
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
  }
}

.plan__price-p {
  font-size: 35px;
  font-family: $font-stack;
}

.plans {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
  }

  &__plan {
    height: 750px;
    width: 480px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    margin-right: 30px;
    background: #fff;
    transition: 0.3s;

    &_first {
      @extend .plans__plan;
      .plan__name {
        background-color: $first_block_color;
      }
      .plan__option__section__line {
        background-color: $first_block_color;
      }
      .plan__button {
        .plan__button-link {
          background-color: $first_block_color;
        }
      }
      .plan__option__section {
        margin-top: 50px;
      }
    }
    &_second {
      @extend .plans__plan;
      .plan__name {
        background-color: $second_block_color;
      }
      .plan__option__section__line {
        background-color: $second_block_color;
      }
      .plan__button {
        .plan__button-link {
          background-color: $second_block_color;
        }
      }
    }
    &_third {
      @extend .plans__plan;
      .plan__name {
        background-color: $third_block_color;
      }
      .plan__option__section__line {
        background-color: $third_block_color;
      }
      .plan__button {
        .plan__button-link {
          background-color: $third_block_color;
        }
      }
    }
  }
}

.plan__options-active {
  list-style: none;
  display: flex;
  align-items: baseline;
  font-weight: 100;
  font-family: $font-stack;
  line-height: 2.5;

  &:before {
    content: "✓";
    font-size: 15px;
    display: block;
    color: blue;
    //position: absolute;
    margin-left: -15px;
  }

  &__p {
    margin: 0 0;
    font-size: 13px;
  }
}

.plan__buttons__section {
  display: flex;
  &__wrapper {
    display: flex;
    flex-direction: row;
    margin: 30 auto;
  }
  &__button {
    color: black;
    margin: 0 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    &_active {
      @extend .plan__buttons__section__button;
      background-color: $first_block_color;
      color: white;
      font-family: $font-stack;
      border-radius: 12px;
    }
  }
}
.options-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
}
