body {
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
}

.main__h1{
    font-weight: 300;
}

.main {
    margin-top: 40px;
}

.main__wrapper {
  text-align: center;
  width: 40%;
  margin: 0 auto ;
  color:#e0dcdc;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.main__span {
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.main__form{
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5% 6%;
    width:80%;
    background-color: rgba(0, 0, 0, 0.636);
}

.flexable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__form__item{
    width:100%;
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 12px;
    margin-top: 8px;
    border: 1px solid gray;
    background: #fff;
    border-radius: 5px;
}

.item__textarea{
    margin: 0.5rem 0 2rem 0;
    height: 120px;    
}
.item__input{
    display: inline-block;
    margin-right: 10px;
    min-height: 20px;
    min-width: 20px;
}

.item__button{
    background-color: #37af65;
    color: white;
    padding: 12px;
    padding-bottom: 24px;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
    font: 400 13.3333px Arial;
}
.item__radio{
    margin: 10px 0;
}