$font-stack: arial, sans-serif;
$font-header: impact, sans-serif;
$first_block_color: #5c8cd7;
$second_block_color: #c5a0ef;
$third_block_color: #a58dd8;
$background_color: #e5ebfd;
$plans_background: #fff;
$button-text-color: #fff;
$mark-color: blue;
$topic-text-color: black;
$main-text-color: black;
$white-text: white;