@charset "UTF-8";
@media only screen and (max-width: 1560px) {
  .plans__plan, .plans__plan_third, .plans__plan_second, .plans__plan_first {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1100px) {
  .plans__plan, .plans__plan_third, .plans__plan_second, .plans__plan_first {
    margin-right: 0 !important;
  }
}
.topic {
  margin: 0 auto;
  text-align: center;
}

.topic__head__p {
  font-size: 46px;
  font-family: impact, sans-serif;
  color: black;
}

.block3__plans {
  text-align: center;
  margin-top: 63px;
  display: flex;
}

.plan__option__section__options {
  padding-inline-start: 0px;
}

.plan__option__section__line {
  width: 70%;
  height: 5px;
  margin: 20px auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.plan__options-active__p {
  font-size: 13px;
}

.plan__name {
  padding: 5px 0;
}

.main {
  background: url(https://www.messy.fm/static/media/people.e4d757e8.svg) right bottom no-repeat, url(https://www.messy.fm/static/media/edit.af3e0bfb.svg) no-repeat;
}

.body {
  background-color: #e5ebfd;
}

.plan__name-p {
  font-size: 18px;
  font-family: Ariel, sans-serif;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}

.plan__button {
  width: 204px;
  height: 50px;
  margin: 10 auto;
}

.plan__button-link {
  color: white;
  text-decoration: none;
  width: 144px;
  border-radius: 5px;
  font-family: arial, sans-serif;
  font-size: 15px;
  padding-top: 16px;
  padding-bottom: 15px;
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  transition: 0.2s;
}

.plan__price-p {
  font-size: 35px;
  font-family: arial, sans-serif;
}

.plans__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}
.plans__plan, .plans__plan_third, .plans__plan_second, .plans__plan_first {
  height: 750px;
  width: 480px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-right: 30px;
  background: #fff;
  transition: 0.3s;
}
.plans__plan_first .plan__name {
  background-color: #5c8cd7;
}
.plans__plan_first .plan__option__section__line {
  background-color: #5c8cd7;
}
.plans__plan_first .plan__button .plan__button-link {
  background-color: #5c8cd7;
}
.plans__plan_first .plan__option__section {
  margin-top: 50px;
}
.plans__plan_second .plan__name {
  background-color: #c5a0ef;
}
.plans__plan_second .plan__option__section__line {
  background-color: #c5a0ef;
}
.plans__plan_second .plan__button .plan__button-link {
  background-color: #c5a0ef;
}
.plans__plan_third .plan__name {
  background-color: #a58dd8;
}
.plans__plan_third .plan__option__section__line {
  background-color: #a58dd8;
}
.plans__plan_third .plan__button .plan__button-link {
  background-color: #a58dd8;
}

.plan__option__section {
  width: 70%;
  margin: 10px auto;
  text-align: start;
}

.plan__options-active {
  list-style: none;
  display: flex;
  align-items: baseline;
  font-weight: 100;
  font-family: arial, sans-serif;
  line-height: 2.5;
}
.plan__options-active:before {
  content: "✓";
  font-size: 15px;
  display: block;
  color: blue;
  margin-left: -15px;
}
.plan__options-active__p {
  margin: 0 0;
}

.plan__buttons__section {
  display: flex;
}
.plan__buttons__section__wrapper {
  display: flex;
  flex-direction: row;
  margin: 30 auto;
}
.plan__buttons__section__button, .plan__buttons__section__button_active {
  color: black;
  margin: 0 10px;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.plan__buttons__section__button_active {
  background-color: #5c8cd7;
  color: white;
  font-family: arial, sans-serif;
  border-radius: 12px;
}

.options-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
}

/*# sourceMappingURL=styles.css.map */
